body {
  margin: 0;
  padding: 0;
  min-width: 375px;
  width: 100%;

  font-family: 'Geometria', sans-serif;

  background-color: rgba(0.898, 0.898, 0.898, 0.03);
}

a {
  text-decoration: none;
  color: #49C2E8;
}